:root {
  margin: 0;
  box-sizing: border-box;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgb(205, 204, 213) 0%,
    rgb(226, 222, 203) 35%,
    rgb(181, 180, 157) 100%
  );
  box-sizing: border-box;
}

.todo {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 500px;
  margin: auto;
  margin-top: 20%;
  border-radius: 20px;
  background-color: white;
}
